    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: Cascadia Mono;
        font-size: 18px;

    }

    body {
        background-color: #f1f0e9;
    }

   

    nav {
        position: fixed;
        display: flex;
        top: 0;
        width: 100%;
        background: none;
       
        color: white;

        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        z-index: 1000;

        transition: background-color 0.3s ease;




    }



    .navigation {
        display: flex;
        padding-right: 2rem;


    }

    nav.scrolled {
        background: rgba(89, 127, 151, 0.91);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    nav a {
        color: #F1F0E8;
        text-decoration: none;
        margin: 0 1rem;
        font-size: 1rem;

        transition: color 0.3s;
    }

    nav a:hover {
        color: #183251;
    }
    header {
        background-size: cover;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #F1F0E8;
        text-align: center;
        padding: 0 20px 50px;


    }

    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .hero {
        position: relative;
        z-index: 1;
        margin-top: -2rem;
    }
    
    .hero h1 {
        font-size: 3rem;
    }
    
    .hero p {
        padding: 0.5rem 0;
    }


    .hero button {
        background-color: #F1F0E8;
        color: #597F97;
        font-weight: 700;
        font-size: 0.9rem;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        margin: 15px;
        cursor: pointer;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
        border-right: 2px rgba(0, 0, 0, 0.2) solid;
        border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
        border-radius: 5px;
    }

    .hero button:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        background-color: #597F97;
        color: white;
        transition: 0.5s;
    }


    .search-bar {

        text-align: center;
        display: flex;
        flex-direction: column;

        gap: 1rem;
        margin: -8rem auto 0 auto;
        padding: 1rem 2rem 2rem 2rem;
        max-width: fit-content;
        border-radius: 5px 5px 0 0;
        color: black;
        background-color: #F1F0E8;


    }
    .search-bar h2 {
        padding-bottom: 1rem;
    }

    .search-bar form {
        display: flex;
        width: 100vh;
        max-height: max-content;
        justify-content: space-around;
        align-items: center;
    }

    .search-bar .slider {
        display: flex;
        flex-direction: column;


    }

    .search-bar .slider input:hover,
    .slider input {
        cursor: e-resize;
        appearance: none;
        width: 100%;
        height: 6px;
        background: #ddd;
        border-radius: 5px;
        margin: 5px 0;
        padding: 0;


    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        background: #597F97;
        border-radius: 50%;
        cursor: e-resize;
        border: 2px solid #F1F0E8;
    }



    .search-bar .search {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: start;
    }

    .search-bar input:focus,
    select:focus {
        outline: none;
    }

    .search-bar input {
        border: none;
    }

    .search-bar select {
        border: none;

    }

    .search-bar button {

        background-color: #597F97;
        color: #F1F0E8;
        padding: 0.5rem 30px;
        border: none;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        border-right: 1.5px rgba(0, 0, 0, 0.2) solid;
        border-bottom: 1.5px rgba(0, 0, 0, 0.2) solid;
        border-radius: 5px;

    }

    .search-bar button:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    }


    .lorema {
        max-width: 2px;
    }

    .showcase {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 100%;


    }


    .imagecontainer {
        padding: 1rem;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-right: 2px rgba(0, 0, 0, 0.2) solid;
        border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);



    }

    .imagecontainer img {
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
        border-right: 2px rgba(0, 0, 0, 0.2) solid;
        border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
        border-radius: 5px;
    }

    .imagecontainer figcaption {
        padding-top: 0.8rem;
    }

    .imagecontainer a {
        text-decoration: none;
        color: black;
    }

    .imagecontainer p {
        margin-top: -1.85rem;
        margin-left: 0.5rem;
        color: transparent;
    }

    .imagecontainer:hover p {
        color: white;
        transition: 0.6s;
    }


    .imagecontainer:hover {
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
        transition: 0.2s;

    }



    .imagecontainer img {
        width: 40vh;
        height: 27vh;

        border-radius: 5px;
    }

    table {
        width: 80%;
        margin: 3rem auto;
        border-spacing: 1rem;
    }

    td {
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-left: 1px solid rgba(0, 0, 0, 0.0.05);
        border-radius: 5px;
        width: 180px;
        height: 140px;
        margin: 0 auto;
        /* box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2); */
        box-shadow: 6px 6px 10px rgba(89, 127, 151, 0.2);
        background-color: rgba(220, 219, 206, 0.505);

    }
    
    table figure {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    td img {
        width: 200px;
        height: auto;
        
    }

    td:hover {
        
        transform: scale(1.07);
        transition: 0.3s;
        cursor: pointer;

    }

    .jet-charter-luxury {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #f9f9f9;
    }
    
    .image-container-luxury {
        flex: 1;
    }
    
    .image-container-luxury img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .text-container-luxury {
        flex: 1;
        max-width: 600px;
        color: #333;
    }
    
    .text-container-luxury h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: #333;
    }
    
    .text-container-luxury hr {
        width: 50%;
        border: 1px solid #ccc;
        margin: 1rem 0;
    }
    
    .text-container-luxury p {
        margin-bottom: 1.5rem;
        line-height: 1.6;
        color: #555;
    }
    
    .text-container-luxury ul {
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
    }
    
    .text-container-luxury ul li {
        margin-bottom: 0.5rem;
        line-height: 1.4;
    }
    
    .text-container-luxury a {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .text-container-luxury a:hover {
        background-color: #555;
    }
    



    .jet-charter-space {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #f9f9f9;
    }
    
    .image-container-space {
        flex: 1;
        order: 2;
    }
    
    .image-container-space img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .text-container-space {
        flex: 1;
        max-width: 600px;
        color: #333;
        order: 1;
    }
    
    .text-container-space h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: #333;
    }
    
    .text-container-space hr {
        width: 50%;
        border: 1px solid #ccc;
        margin: 1rem 0;
    }
    
    .text-container-space p {
        margin-bottom: 1.5rem;
        line-height: 1.6;
        color: #555;
    }
    
    .text-container-space ul {
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
    }
    
    .text-container-space ul li {
        margin-bottom: 0.5rem;
        line-height: 1.4;
    }
    
    .text-container-space a {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .text-container-space a:hover {
        background-color: #555;
    }