html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .content-wrapper1 {
    flex: 1 0 auto;
    text-align: center;
  }

  .container1 {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
  }

  .cabin-image {
    position: relative;
    width: 100%;
    height: auto;
  }

  .human {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    visibility: hidden;
    transition: height 0.3s ease, width 0.3s ease, visibility 0s ease-in-out 0.3s;
  }

  .label {
    margin-top: 20px;
  }

  .button {
    background-color: #597F97;
    color: #F1F0E8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-right: 1.5px rgba(0, 0, 0, 0.2) solid;
    border-bottom: 1.5px rgba(0, 0, 0, 0.2) solid;
    width: 60px;
    height: 25px;
}

.button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}