* {
    margin: 0;
    padding: 0;

}

html {
    font-family: Cascadia Mono;
    font-size: 18px;

}

body {
    background-color: #f1f0e9;
}

.body-special {
    overflow: hidden;
}




nav {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background: none;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navigation {
    display: flex;
    padding-right: 2rem;
}

nav.scrolled {
    background: rgba(89, 127, 151, 0.91);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #F1F0E8;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
    transition: color 0.3s;
    font-weight: 600;
}

nav a:hover {
    color: #183251;
}

.popup {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close {
    position: absolute;
    margin-left: 95%;
    margin-top: -43%;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    border-radius: 10px;
    width: 450px;
    height: 600px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 0 0;
}

.button-login {
    height: 40px;
    width: 225px;
    border-radius: 10px 5px 0 0;
    border: none;
    background-color: rgb(89, 127, 151);
    cursor: pointer;
}

.button-login:hover {
    background-color: rgba(89, 127, 151, 0.9);
}

.button-signup:hover {
    background-color: rgba(89, 127, 151, 0.9);
}

.button-signup {
    height: 40px;
    width: 225px;
    border-radius: 5px 10px 0 0;
    border: none;
    background-color: rgb(89, 127, 151);
    cursor: pointer;
}

.permbajtja {
    display: flex;
    width: 100%;
    height: 100%;
}

.log-in {
    width: 100%;
    height: auto;
    background-color: #e1306c;
    display: block;
}

.sign-up {

    width: 100%;
    height: auto;
    background-color: #ff0000;
    display: none;
} 


