* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Cascadia Mono;
    font-size: 18px;

}

body {
    background-color: #f1f0e9;
}


.jet-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    margin: 0 auto 2rem auto;
    max-width: 90%;
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;
    border-radius: 5px;
    padding: 20px;
    }

.jet-desc-image {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}
.premium{
    box-shadow: 6px 6px #e8d596;
}
.premium-star {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 40px; 
    color: gold; 
    font-weight: bold;
    z-index: 0; 
    pointer-events: none; 
    
}

.premium .data h1{
    color: #FFD700;
}

.premium button{
    border: 1px solid black;
    box-shadow: 2px 5px 0 0 #e8d596; 
}

.premium button:hover {
    box-shadow: 0 0 0 0 #e8d596;
  };


    .topimage {
        filter: drop-shadow(1px 2px 10px white);
        overflow: hidden;
        position: relative;
        border-radius: 5px;
    }

    .mainImage {
        width: 550px;
        height: 340px;
        object-fit: cover;
    }
    
.bottomimages {
        width: 60px;
        height: 250px;
        overflow: hidden;
        position: relative;
    }

    .bottomimages img {
        width: 60px;
        height: 60px;
        object-fit: cover;

    }

.data {
    margin: 1rem;
}

.data h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.data h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.highlights {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.data ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.data ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}


button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 2px 5px 0 0 black; 
 }
  
  button:hover {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }
  
 


footer {
    background-color: rgb(27, 27, 27);
}

.footer-div {
    background-color: rgb(27, 27, 27);
}

